<!-- BEGIN: HOME -->
<div class="site-blocks-cover overlay" style="background-image: url(images/hero_2.jpg);" data-aos="fade" id="home-section">

    <div class="container">
      <div class="row align-items-center justify-content-center">

        
        <div class="col-md-8 mt-lg-5 text-center">
          <h1 class="text-uppercase" data-aos="fade-up">Xin Chào</h1>
          <p class="mb-5 desc"  data-aos="fade-up" data-aos-delay="100">Chào mừng bạn đến với phần mềm kế toán VIETSUNBA</p>
          <div data-aos="fade-up" data-aos-delay="100">
            <a href="#contact-section" class="btn smoothscroll btn-primary mr-2 mb-2">Liên hệ</a>
          </div>
        </div>
          
      </div>
    </div>

    <a href="#about-section" class="mouse smoothscroll">
      <span class="mouse-icon">
        <span class="mouse-wheel"></span>
      </span>
    </a>
  </div>  

  
  <div class="site-section cta-big-image" id="about-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-12 text-center" data-aos="fade">
          <h2 class="section-title mb-3">Về chúng tôi</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
          <figure class="circle-bg">
          <img src="images/hero_1.jpg" alt="Image" class="img-fluid">
          </figure>
        </div>
        <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">
          <div class="mb-4">
            <h3 class="h3 mb-4 text-black">Phần mềm của chúng tôi</h3>
            <p>Hệ thống gồm các phân hệ về tổ chức công tác kế toán, xây dựng hệ thống, quản trị hệ thống, xây dựng các danh mục chi tiết theo từng tài khoản và xây dựng các danh mục quản lý để đáp ứng theo dõi chi tiết số liệu đáp ứng theo yêu cầu quản lý, cụ thế như sau:
            </p>
            
          </div>
          
          
            
          <div class="mb-4">
            <ul class="list-unstyled ul-check success">
              <li>Phân hệ xây dựng hệ thống</li>
              <li>Phân hệ danh mục tài khoản</li>
              <li>Danh mục quản lý</li>
              <li>Quản trị hệ thống</li>
              <li>Hóa đơn điện tử</li>

            </ul>
            
          </div>

          
          
        </div>
      </div>
    </div>  
  </div>

  <section class="site-section">
    <div class="container">

      <div class="row mb-5 justify-content-center">
        <div class="col-md-7 text-center">
          <h2 class="section-title mb-3" data-aos="fade-up" data-aos-delay="">Danh mục</h2>
          <p class="lead" data-aos="fade-up" data-aos-delay="100"></p>
        </div>
      </div>
      
      <div class="row" >
        <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">

          <div class="owl-carousel slide-one-item-alt">
            <img src="images/slide_1.jpg" alt="Image" class="img-fluid">
            <img src="images/slide_2.jpg" alt="Image" class="img-fluid">
            <img src="images/slide_3.jpg" alt="Image" class="img-fluid">
            <img src="images/slide_4.jpg" alt="Image" class="img-fluid">
          </div>
          <div class="custom-direction">
            <a href="#" class="custom-prev"><span><span class="icon-keyboard_backspace"></span></span></a><a href="#" class="custom-next"><span><span class="icon-keyboard_backspace"></span></span></a>
          </div>

        </div>
        <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">
          
          <div class="owl-carousel slide-one-item-alt-text">
            <div>
              <h2 class="section-title mb-3">Hệ tiền vốn</h2>
              <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
              <p>Est qui eos quasi ratione nostrum excepturi id recusandae fugit omnis ullam pariatur itaque nisi voluptas impedit  Quo suscipit omnis iste velit maxime.</p>

              <p><a href="#" class="btn btn-primary mr-2 mb-2">Learn More</a></p>
            </div>
            <div>
              <h2 class="section-title mb-3">Hệ ngân hàng</h2>
              <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
              <p>Est qui eos quasi ratione nostrum excepturi id recusandae fugit omnis ullam pariatur itaque nisi voluptas impedit  Quo suscipit omnis iste velit maxime.</p>

              <p><a href="#" class="btn btn-primary mr-2 mb-2">Learn More</a></p>
            </div>
            <div>
              <h2 class="section-title mb-3">Hệ mua hàng</h2>
              <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
              <p>Est qui eos quasi ratione nostrum excepturi id recusandae fugit omnis ullam pariatur itaque nisi voluptas impedit  Quo suscipit omnis iste velit maxime.</p>

              <p><a href="#" class="btn btn-primary mr-2 mb-2">Learn More</a></p>
            </div>
            <div>
              <h2 class="section-title mb-3">Hệ bán hàng</h2>
              <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
              <p>Est qui eos quasi ratione nostrum excepturi id recusandae fugit omnis ullam pariatur itaque nisi voluptas impedit  Quo suscipit omnis iste velit maxime.</p>

              <p><a href="#" class="btn btn-primary mr-2 mb-2">Learn More</a></p>
            </div>
            <div>
                <h2 class="section-title mb-3">Hệ kho</h2>
                <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <p>Est qui eos quasi ratione nostrum excepturi id recusandae fugit omnis ullam pariatur itaque nisi voluptas impedit  Quo suscipit omnis iste velit maxime.</p>

                <p><a href="#" class="btn btn-primary mr-2 mb-2">Learn More</a></p>
                </div>
            <div>
                <h2 class="section-title mb-3">Hệ TSCD</h2>
                <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <p>Est qui eos quasi ratione nostrum excepturi id recusandae fugit omnis ullam pariatur itaque nisi voluptas impedit  Quo suscipit omnis iste velit maxime.</p>

                <p><a href="#" class="btn btn-primary mr-2 mb-2">Learn More</a></p>
            </div>
            <div>
                <h2 class="section-title mb-3">Hệ CCDC</h2>
                <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <p>Est qui eos quasi ratione nostrum excepturi id recusandae fugit omnis ullam pariatur itaque nisi voluptas impedit  Quo suscipit omnis iste velit maxime.</p>
    
                <p><a href="#" class="btn btn-primary mr-2 mb-2">Learn More</a></p>
                </div>
            <div>
                <h2 class="section-title mb-3">Hệ tổng hợp</h2>
                <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <p>Est qui eos quasi ratione nostrum excepturi id recusandae fugit omnis ullam pariatur itaque nisi voluptas impedit  Quo suscipit omnis iste velit maxime.</p>

                <p><a href="#" class="btn btn-primary mr-2 mb-2">Learn More</a></p>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </section>


  
  <section class="site-section border-bottom" id="team-section">
    <div class="container">
      <div class="row mb-5 justify-content-center">
        <div class="col-md-8 text-center">
          <h2 class="section-title mb-3" data-aos="fade-up" data-aos-delay="">Team</h2>
          <p class="lead" data-aos="fade-up" data-aos-delay="100">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus minima neque tempora reiciendis.</p>
        </div>
      </div>
      <div class="row">
        

        <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="">
          <div class="team-member">
            <figure>
              <ul class="social">
                <li><a href="#"><span class="icon-facebook"></span></a></li>
                <li><a href="#"><span class="icon-twitter"></span></a></li>
                <li><a href="#"><span class="icon-linkedin"></span></a></li>
                <li><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
              <img src="images/person_5.jpg" alt="Image" class="img-fluid">
            </figure>
            <div class="p-3">
              <h3>Kaiara Spencer</h3>
              <span class="position">Product Manager</span>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="100">
          <div class="team-member">
            <figure>
              <ul class="social">
                <li><a href="#"><span class="icon-facebook"></span></a></li>
                <li><a href="#"><span class="icon-twitter"></span></a></li>
                <li><a href="#"><span class="icon-linkedin"></span></a></li>
                <li><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
              <img src="images/person_6.jpg" alt="Image" class="img-fluid">
            </figure>
            <div class="p-3">
              <h3>Dave Simpson</h3>
              <span class="position">Product Manager</span>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="200">
          <div class="team-member">
            <figure>
              <ul class="social">
                <li><a href="#"><span class="icon-facebook"></span></a></li>
                <li><a href="#"><span class="icon-twitter"></span></a></li>
                <li><a href="#"><span class="icon-linkedin"></span></a></li>
                <li><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
              <img src="images/person_7.jpg" alt="Image" class="img-fluid">
            </figure>
            <div class="p-3">
              <h3>Ben Thompson</h3>
              <span class="position">Product Manager</span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  
  

  <section class="site-section border-bottom bg-light" id="services-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-12 text-center" data-aos="fade">
          <h2 class="section-title mb-3">Lợi Thế</h2>
        </div>
      </div>
      <div class="row align-items-stretch">
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
          <div class="unit-4">
            <div class="unit-4-icon mr-4"><span class="text-primary flaticon-startup"></span></div>
            <div>
              <h3>Thủ tục triển khai nhanh chóng, linh hoạt theo từng hoạt động của doanh nghiệp</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quis molestiae vitae eligendi at.</p>
              <p><a href="#">Learn More</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="100">
          <div class="unit-4">
            <div class="unit-4-icon mr-4"><span class="text-primary flaticon-graphic-design"></span></div>
            <div>
              <h3>Ứng dụng được xây dựng trên nền tảng tiên tiến, đảm bảo an toàn, sao lưu và phục hồi dữ liệu tự động.</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quis molestiae vitae eligendi at.</p>
              <p><a href="#">Learn More</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="200">
          <div class="unit-4">
            <div class="unit-4-icon mr-4"><span class="text-primary flaticon-settings"></span></div>
            <div>
              <h3>Giao diện người dùng trực quan, bố cục rõ ràng, dễ dàng thao tác.</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quis molestiae vitae eligendi at.</p>
              <p><a href="#">Learn More</a></p>
            </div>
          </div>
        </div>


        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="">
          <div class="unit-4">
            <div class="unit-4-icon mr-4"><span class="text-primary flaticon-idea"></span></div>
            <div>
              <h3> Hỗ trợ nhập liệu, chuyển đổi dữ liệu từ EXCEL sang phần mềm nhanh chóng, chính xác.</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quis molestiae vitae eligendi at.</p>
              <p><a href="#">Learn More</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="100">
          <div class="unit-4">
            <div class="unit-4-icon mr-4"><span class="text-primary flaticon-smartphone"></span></div>
            <div>
              <h3>Đào tạo, huấn luyện nghiệp vụ liên tục, cập nhật chính sách văn bản mới hàng tháng.</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quis molestiae vitae eligendi at.</p>
              <p><a href="#">Learn More</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="200">
          <div class="unit-4">
            <div class="unit-4-icon mr-4"><span class="text-primary flaticon-head"></span></div>
            <div>
              <h3> Tài liệu hướng dẫn dễ dàng tham khảo, đầy đủ chi tiết trên từng dạng: văn bản, hình ảnh, video....</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quis molestiae vitae eligendi at.</p>
              <p><a href="#">Learn More</a></p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  

  <section class="site-section bg-light" id="contact-section" data-aos="fade">
    <div class="container">
      <div class="row mb-3">
        <div class="col-12 text-center">
          <h2 class="section-title mb-3">Liên Hệ Với Chúng Tôi</h2>
        </div>
      </div>
      <div class="row mb-5">
        


        
      </div>
      <div class="row">
        <div class="col-md-12 mb-5">

          

          <form method="POST" class="p-5 bg-white">
            
            <h2 class="h4 text-black mb-5">Thông Tin Của Bạn</h2> 

            <div class="row form-group">
              <div class="col-md-6 mb-3 mb-md-0">
                <label class="text-black" for="fname">Tên</label>
                <input type="text" id="fname" name="fname" class="form-control">
              </div>
              <div class="col-md-6">
                <label class="text-black" for="lname">Họ</label>
                <input type="text" id="lname" name="lname" class="form-control">
              </div>
            </div>
            <div class="row form-group">
              
              <div class="col-md-12">
                <label class="text-black" for="phone">Điện Thoại</label> 
                <input type="text" id="phone" name="phone" class="form-control">
              </div>
            </div>
            <div class="row form-group">
              
              <div class="col-md-12">
                <label class="text-black" for="email">Email</label> 
                <input type="email" id="email" name="email" class="form-control">
              </div>
            </div>


            <div class="row form-group">
              <div class="col-md-12">
                <label class="text-black" for="message">Lời nhắn đến chúng tôi</label> 
                <textarea name="message" id="message" cols="30" rows="7" class="form-control" placeholder="Hãy viết một vài lời nhắn hoặc câu hỏi của bạn ... "></textarea>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-12">
                <input type="submit" value="Gửi" class="btn btn-primary btn-md text-white">
              </div>
            </div>


          </form>
        </div>
        
      </div>
    </div>
  </section>
<!-- END: HOME -->
