<!-- BEGIN: LICENSE -->
<script src="https://kit.fontawesome.com/7c67c69820.js" crossorigin="anonymous"></script>
<div class="site-blocks-cover overlay" style="background:#007bff;
; " data-aos="fade" id="home-section">
    <div class="container">
        <div class="row align-items-center justify-content-center">
  
          
          <div class="col-md-8 mt-lg-5 text-center">
            <h1 class="text-uppercase" data-aos="fade-up">Hướng Dẫn Sử Dụng Phần Mềm Kế Toán VIETSUNBA</h1>
            <p class="mb-5 desc"  data-aos="fade-up" data-aos-delay="100">Chào mừng bạn đến với phần mềm kế toán VIETSUNBA</p>
          </div>
          <a href="#team" class="mouse smoothscroll">
            <span class="mouse-icon">
              <span class="mouse-wheel"></span>
            </span>
          </a>
        </div>
      </div>
</div>
<section id="team" class="pb-5 pt-3">
<div class="container">
    <h5 class="section-title h1">CÁC HỆ PHẦN MỀM</h5>
    <div class="row">
        <!-- Team member -->
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="image-flip" >
                <div class="mainflip flip-0">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <p><img class=" img-fluid" src="images/tongquan.jpg" alt="card image"></p>
                                <h4 class="card-title">Tổng Quan</h4>
                                <p class="card-text">
                                    Khái quát:
                                </p>
                                <ul style="text-align: left;">
                                    <li>Kế toán trên máy vi tính</li> 
                                    <li>Ưu điểm khi sử dụng phần mềm kế toán ... </li> 
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="backside">
                        <div class="card">
                            <div class="card-body text-center ">
                                <h4 class="card-title">Tổng Quan</h4>
                                <p class="card-text">Quy trình thực hiện trên phần mềm kế toán VietSun BA</p>
                                <ul style="text-align: left;">
                                    <li>Các phần hành trên VietSun BA</li> 
                                    <li>Sơ đồ liên kết phần hành trên VietSun BA</li> 
                                    <li>Quy trình thực hiện trên VietSun BA</li> 
                                 </ul>
                                <a href="{x}huongdan/tongquan" aria-label="Xem Thêm" class="btn btn-sm" style="background: #007bff;" ><i style="color: white;" class="fas fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ./Team member -->
        <!-- Team member -->
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="image-flip" >
                <div class="mainflip flip-0">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <p><img class=" img-fluid" src="images/thaotacchung.jpg" alt="card image"></p>
                                <h4 class="card-title">Thao Tác Chung</h4>
                                <p class="card-text">
                                    Màn hình menu chính:
                                </p>
                                <ul style="text-align: left;">
                                    <li>
                                    Các chức năng và thao tác khi khai báo danh mục</li>
                                    <li>Thao tác khai báo nhóm danh mục và chi tiết đối tượng</li> 
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="backside">
                        <div class="card">
                            <div class="card-body text-center ">
                                <h4 class="card-title">Thao Tác Chung</h4>
                                <p class="card-text">Chức năng</p>
                                <ul style="text-align: left;">
                                    <li>Các chức năng và thao tác khi nhập số dư đầu kỳ</li> 
                                    <li>Các chức năng và thao tác khi lấy báo cáo</li> 
                                    <li>...</li> 
                                 </ul>
                                <a href="{x}huongdan/thaotacchung" aria-label="Xem Thêm" class="btn btn-sm" style="background: #007bff;" ><i style="color: white;" class="fas fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ./Team member -->
        <!-- Team member -->
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="image-flip" >
                <div class="mainflip flip-0">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <p><img class=" img-fluid" src="images/hethong.jpg" alt="card image"></p>
                                <h4 class="card-title">Hệ Thống</h4>
                                <p class="card-text">
                                    Nội dung: 
                                </p>
                                <ul style="text-align: left;">
                                    <li>Xây dựng hệ thống</li> 
                                    <li>Quản trị hệ thống ... </li> 
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="backside">
                        <div class="card">
                            <div class="card-body text-center ">
                                <h4 class="card-title">Hệ Thống</h4>
                                <p class="card-text">Nội dung: </p>
                                <ul style="text-align: left;">
                                    <li>Xây dựng hệ thống</li> 
                                    <li>Quản trị hệ thống</li> 
                                    <li>Danh mục tài khoản</li> 
                                    <li>Danh mục quản lý</li> 
                                 </ul>
                                <a href="{x}huongdan/hethong" aria-label="Xem Thêm" class="btn btn-sm" style="background: #007bff;" ><i style="color: white;" class="fas fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ./Team member -->
        <!-- Team member -->
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="image-flip" >
                <div class="mainflip flip-0">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <p><img class=" img-fluid" src="images/tienvon.jpg" alt="card image"></p>
                                <h4 class="card-title">Hệ Tiền Vốn</h4>
                                <p class="card-text">
                                    Phân hệ tiền vốn gồm:
                                </p>
                                <ul style="text-align: left;">
                                    <li>Các phần hành nhập liệu theo nghiệp vụ phát sinh</li> 
                                    <li>Lên sổ sách, báo cáo có liên quan ... </li> 
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="backside">
                        <div class="card">
                            <div class="card-body text-center ">
                                <h4 class="card-title">Hệ Tiền Vốn</h4>
                                <p class="card-text">Các chức năng chính</p>
                                <ul style="text-align: left;">
                                    <li>Thu tiền mặt</li> 
                                    <li>Chi tiền mặt</li> 
                                    <li>Thu tiền ngân hàng</li> 
                                    <li>Chi tiền ngân hàng</li> 
                                 </ul>
                                <a href="{x}huongdan/tienvon" aria-label="Xem Thêm" class="btn btn-sm" style="background: #007bff;" ><i style="color: white;" class="fas fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ./Team member -->
        <!-- Team member -->
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="image-flip" >
                <div class="mainflip flip-0">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <p><img class=" img-fluid" src="images/muahang.jpg" alt="card image"></p>
                                <h4 class="card-title">Hệ Mua Hàng</h4>
                                <p class="card-text">
                                    Phân hệ mua hàng vốn gồm:
                                </p>
                                <ul style="text-align: left;">
                                   <li>Các phần hành nhập liệu theo nghiệp vụ phát sinh</li> 
                                   <li>Lên sổ sách, báo cáo có liên quan ... </li> 
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="backside">
                        <div class="card">
                            <div class="card-body text-center ">
                                <h4 class="card-title">Hệ Mua Hàng</h4>
                                <p class="card-text">Các chức năng chính</p>
                                <ul style="text-align: left;">
                                    <li>Mua hàng nội địa</li> 
                                    <li>Mua hàng nhập khẩu</li> 
                                    <li>Dịch vụ mua vào</li> 
                                    <li>...</li> 
                                 </ul>
                                <a href="{x}huongdan/muahang" aria-label="Xem Thêm" class="btn btn-sm" style="background: #007bff;" ><i style="color: white;" class="fas fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ./Team member -->
        <!-- Team member -->
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="image-flip" >
                <div class="mainflip flip-0">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <p><img class=" img-fluid" src="images/banhang.jpg" alt="card image"></p>
                                <h4 class="card-title">Hệ Bán Hàng</h4>
                                <p class="card-text">
                                    Phân hệ bán hàng vốn gồm:
                                </p>
                                <ul style="text-align: left;">
                                   <li>Các phần hành nhập liệu theo nghiệp vụ phát sinh</li> 
                                   <li>Lên sổ sách, báo cáo có liên quan ... </li> 
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="backside">
                        <div class="card">
                            <div class="card-body text-center ">
                                <h4 class="card-title">Hệ Bán Hàng</h4>
                                <p class="card-text">Các chức năng chính</p>
                                <ul style="text-align: left;">
                                    <li>Hóa đơn bán hàng</li> 
                                    <li>Hóa đơn dịch vụ</li> 
                                    <li>Hóa đơn thu nhập khác</li> 
                                    <li>...</li> 
                                 </ul>
                                <a href="{x}huongdan/banhang" aria-label="Xem Thêm" class="btn btn-sm" style="background: #007bff;" ><i style="color: white;" class="fas fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ./Team member -->
        <!-- Team member -->
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="image-flip" >
                <div class="mainflip flip-0">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <p><img class=" img-fluid" src="images/khohang.jpg" alt="card image"></p>
                                <h4 class="card-title">Hệ Kho Hàng</h4>
                                <p class="card-text">
                                    Phân hệ kho hàng vốn gồm:
                                </p>
                                <ul style="text-align: left;">
                                   <li>Các phần hành nhập liệu theo nghiệp vụ phát sinh</li> 
                                   <li>Lên sổ sách, báo cáo có liên quan ... </li> 
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="backside">
                        <div class="card">
                            <div class="card-body text-center ">
                                <h4 class="card-title">Hệ Kho Hàng</h4>
                                <p class="card-text">Các chức năng chính</p>
                                <ul style="text-align: left;">
                                    <li>Nhập kho thành phẩm</li> 
                                    <li>Nhập khác</li> 
                                    <li>Xuất dùng sản phẩm</li> 
                                    <li>...</li> 
                                 </ul>
                                <a href="{x}huongdan/khohang" aria-label="Xem Thêm" class="btn btn-sm" style="background: #007bff;" ><i style="color: white;" class="fas fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ./Team member -->
        <!-- Team member -->
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="image-flip" >
                <div class="mainflip flip-0">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <p><img class=" img-fluid" src="images/tscd.jpg" alt="card image"></p>
                                <h4 class="card-title">Hệ Tài Sản Cố Định</h4>
                                <p class="card-text">
                                    Phân hệ TSCD gồm:
                                </p>
                                <ul style="text-align: left;">
                                   <li>Cập nhật thông tin tài sản theo nghiệp vụ phát sinh</li> 
                                   <li>Trích khấu hao tài sản cố định ... </li> 
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="backside">
                        <div class="card">
                            <div class="card-body text-center ">
                                <h4 class="card-title">Hệ Tài Sản Cố Định</h4>
                                <p class="card-text">Các chức năng chính</p>
                                <ul style="text-align: left;">
                                    <li>Ghi tăng tài sản</li> 
                                    <li>Ghi giảm tài sản</li> 
                                    <li>Trích khấu hao tài sản</li> 
                                    <li>...</li> 
                                 </ul>
                                <a href="{x}huongdan/tscd" aria-label="Xem Thêm" class="btn btn-sm" style="background: #007bff;" ><i style="color: white;" class="fas fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ./Team member -->
        <!-- Team member -->
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="image-flip" >
                <div class="mainflip flip-0">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <p><img class=" img-fluid" src="images/cccp.jpg" alt="card image"></p>
                                <h4 class="card-title">Hệ Công Cụ Chi Phí</h4>
                                <p class="card-text">
                                    Phân hệ CCCP gồm:
                                </p>
                                <ul style="text-align: left;">
                                   <li>Cập nhật thông tin công cụ theo nghiệp vụ phát sinh</li> 
                                   <li>Phân bổ chi phí công cụ dụng cụ ... </li> 
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="backside">
                        <div class="card">
                            <div class="card-body text-center ">
                                <h4 class="card-title">Hệ Công Cụ Chi Phí</h4>
                                <p class="card-text">Các chức năng chính</p>
                                <ul style="text-align: left;">
                                    <li>Nhập số dư đầu kỳ</li> 
                                    <li>Nghiệp vụ phát sinh công cụ chi phí</li> 
                                    <li>...</li> 
                                 </ul>
                                <a href="{x}huongdan/cccp" aria-label="Xem Thêm" class="btn btn-sm" style="background: #007bff;" ><i style="color: white;" class="fas fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ./Team member -->
        <!-- Team member -->
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="image-flip" >
                <div class="mainflip flip-0">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <p><img class=" img-fluid" src="images/major.jpg" alt="card image"></p>
                                <h4 class="card-title">Nghiệp Vụ Kế Toán</h4>
                                <p class="card-text">
                                    Phân hệ NVKT gồm:
                                </p>
                                <ul style="text-align: left;"> 
                                   <li>Phần hành nhập liệu các nghiệp vụ kế toán khác</li>
                                   <li> Lên sổ sách, báo cáo có liên quan ... </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="backside">
                        <div class="card">
                            <div class="card-body text-center ">
                                <h4 class="card-title">Hệ Công Cụ Chi Phí</h4>
                                <p class="card-text">Các chức năng chính</p>
                                <ul style="text-align: left;">
                                    <li>Nhập số dư đầu kỳ</li> 
                                    <li>Nghiệp vụ phát sinh công cụ chi phí</li> 
                                    <li>...</li> 
                                 </ul>
                                <a href="{x}huongdan/nvkt" aria-label="Xem Thêm" class="btn btn-sm" style="background: #007bff;" ><i style="color: white;" class="fas fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ./Team member -->
        <!-- Team member -->
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="image-flip" >
                <div class="mainflip flip-0">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <p><img class=" img-fluid" src="images/accounting.jpg" alt="card image"></p>
                                <h4 class="card-title">Kế Toán Tổng Hợp</h4>
                                <p class="card-text">
                                    Phân hệ KTTH gồm:
                                </p>
                                <ul style="text-align: left;">
                                   <li>Quy trình thực hiện nghiệp vụ tổng hợp số liệu</li> 
                                   <li>Tiền lương ... </li> 
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="backside">
                        <div class="card">
                            <div class="card-body text-center ">
                                <h4 class="card-title">Kế Toán Tổng Hợp</h4>
                                <p class="card-text">Các chức năng chính</p>
                                <ul style="text-align: left;">
                                    <li>Quy trình thực hiện nghiệp vụ tổng hợp số liệu</li> 
                                    <li>Tiền lương</li> 
                                    <li>Tính giá vốn bình quân theo kỳ</li> 
                                 </ul>
                                <a href="{x}huongdan/ktth" aria-label="Xem Thêm" class="btn btn-sm" style="background: #007bff;" ><i style="color: white;" class="fas fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ./Team member -->
    </div>
</div>
</section>
<!-- Team -->
  
<style>
    /* FontAwesome for working BootSnippet :> */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
#team {
    background: #eee !important;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #007bff;
    border-color: #007bff;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007b5e;
}

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007bff;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 350px;
    max-height: 350px;
    min-width: 350px;
    max-width: 350px;
}

.backside .card a {
    font-size: 18px;
    color: #007bff !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #007bff !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
</style>
<!-- END: LICENSE -->