<!-- BEGIN: LICENSE -->
<div class="overlay bg-dark" style="width: 100%;height:107px;"></div>

<nav aria-label="breadcrumb" class="position-sticky bg-white " >
    <ol class="breadcrumb bg-white">
      <li class="breadcrumb-item"><a href="../home"><i class="fa fa-home"></i> Trang Chủ</a></li>
      <li class="breadcrumb-item"><a href="../huongdan">Hướng Dẫn Sử Dụng</a></li>
      <li class="breadcrumb-item active" aria-current="page">Hệ Tiền Vốn</li>
    </ol>
</nav>
<div class="row mb-4" style="height: 1000px;">
    <div class="col-md-2" id="bodyleft">
        <ul class="list-group collapse show">
            <a href="{x}huongdan/tongquan"><li class="list-group-item list-group-item-action list-group-item">Tổng Quan</li></a>
            <a href="{x}huongdan/thaotacchung"><li class="list-group-item list-group-item-action list-group-item">Thao Tác Chung</li></a>
            <a href="{x}huongdan/hethong"><li class="list-group-item list-group-item-action list-group-item">Hệ Thống</li></a>
            <a href="{x}huongdan/tienvon"><li class="list-group-item list-group-item-action active list-group-item"><i class="fas fa-stream"></i> Hệ Tiền Vốn</li></a>
            <a href="{x}huongdan/muahang"><li class="list-group-item list-group-item-action list-group-item">Hệ Mua Hàng</li></a>
            <a href="{x}huongdan/banhang"><li class="list-group-item list-group-item-action list-group-item">Hệ Bán Hàng</li></a>
            <a href="{x}huongdan/khohang"><li class="list-group-item list-group-item-action list-group-item">Hệ Kho Hàng</li></a>
            <a href="{x}huongdan/tscd"><li class="list-group-item list-group-item-action list-group-item">Hệ Tài Sản Cố Định</li></a>
            <a href="{x}huongdan/cccp"><li class="list-group-item list-group-item-action list-group-item">Hệ Công Cụ Chi Phí</li></a>
            <a href="{x}huongdan/nvkt"><li class="list-group-item list-group-item-action list-group-item">Nghiệp Vụ Kế Toán</li></a>
            <a href="{x}huongdan/ktth"><li class="list-group-item list-group-item-action list-group-item">Kế Toán Tổng Hợp</li></a>
          </ul>
    </div>
    <div class="col-md-10" style="color:black" >  
      <embed src="../pdf/VSBA_HDSD04_TienVon.pdf#toolbar=0&navpanes=0&scrollbar=0&zoom=120"  type="application/pdf" class="w-100 h-100"/>
    </div>
</div>
<style>
</style>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script>
</script>
<!-- END: LICENSE -->